:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --header-footer-bg: #333333;
    --header-footer-text: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow-x: hidden; /* Prevent horizontal scroll */
    background-color: var(--background-color);
    color: var(--text-color);
}

header, footer {
    background: var(--header-footer-bg);
    color: var(--header-footer-text);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.dark-mode {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --header-footer-bg: #1e1e1e;
    --header-footer-text: #ffffff;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    header, footer {
        padding: 15px 5px;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    main {
        padding: 15px;
    }

    footer {
        position: static;
    }
}
